<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %>
<%= form_tag movies_path, method: "get" do %>
  <p>
  <%= text_field_tag :query, "", placeholder: "Search by Title or Director" %>
  <%= select_tag "duration", options_for_select(duration_options)%>
  <%= submit_tag "search", :name => nil %>
  </p>
<% end %>

<hr>
<% @movies.each do |movie| %>
  <%= render partial: 'movie', object: movie %>
<% end %>
